
nav
    div.logo logo
    ul
        li
            a Articles
        li
            a Videos
        li
            a Web Development
        li
            a About Spitits & Bews

    ul
        li
            a.write-for-us-icon
        li
            a.search-icon
        li
            a.facebook-icon
        li
            a.twitter-icon
        li
            a.twitch-icon
